@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h6{
  font-size: xx-large;
  font-weight:600;
  color: black;
   font-family: "Montserrat", sans-serif;
}



p{
  color: grey;
}

h5{
  color: rgb(98, 98, 98);
}

h4{
  font-size:x-large;
  font-family: "Montserrat", sans-serif;
  font-weight:500;
}